doctype html
html(lang='en')
	head
		title jade学习
		meta(http-equiv='Content-Type',content='text/html;charset=utf-8')
	body
		h1#title.mtitle jade学习
		p
			|1.起因
			|2.经过
		hr
		p.
			1.起因
			2.经过
		hr
		p
			| 这是一个段内<strong>增强</strong>的试验<br>
			| 这是第二个段内
			strong 增强
			|的试验