<% include header.ejs %>
  <div class="form-container">
    <p class="form-header">用户信息</p>
    <form method="post" action="/user/update">
      <label>用户名:</label>
      <input type="text" name="username"><br>
      <label>邮箱:</label>
      <input type="email" name="email""><br>
      <label>喜欢的颜色:</label>
      <input type="text" name="color"><br>
      <input type="submit" value="保存">
    </form>
  </div>
  <form method="post" action="/user/delete">
    <input type="submit" value="删除用户">
  </form>
  <hr>
  <%=msg%>
  <hr>
<% include footer.ejs %>
