<% include common/header.html %>
<div class="col-md-10">
<table class="table table-striped">
    <tr>
        <th>微博ID</th>
        <th>微博作者</th>
        <th>微博标题</th>
        <th>微博内容</th>
    </tr>

    <% blogs.forEach(function(blog){ %>
    <tr>
        <td><%=blog._id%></td>
        <td><%=blog.author.username%></td>
        <td><a href="/view/<%=blog._id%>"><%=blog.title%></a></td>
        <td><%=blog.content%><a href="/list/<%=blog._id%>/edit"> 修改</a></td>

    </tr>

    <%});%>
</table>
</div>
<% include common/footer.html %>