<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
    <div ng-controller="myController">
        <h2>您好，欢迎登陆 <%= username %></h2>
        <a href="/logout">注销</a>
        <a href="/user">修改用户</a>
        <p>++++++++++++++</p>
    </div>

    <hr>
    <%=msg%>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/static/js/my_app.js"></script>

</body>
</html>