<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="form-container">
        <p class="form-header">注册</p>
        <form method="post">
            <label>用户名：</label>
                <input type="text" name="username" required><br>
            <label>密码：</label>
                <input type="password" name="password"><br>
            <label>邮箱：</label>
                <input type="email" name="email"><br>
            <input type="submit" value="提交">
        </form>
    </div>
    <hr>
    <%= msg %>
</body>
</html>