<!DOCTYPE html>
<html>
  <head>
    <title>用户登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/vender/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="col-sm-3">
        <form action="/doLogin" method="post">
          <div class="form-group">
            <label>用户名</label>
            <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-primary">登录</button>
          <a href="/signup" class="btn btn-primary  " role="button">注册新用户</a>
        </form>
        <hr>
        <%= msg %>
      </div>

    </div>
  </body>
</html>
