<!DOCTYPE html>
<html>
  <head>
    <title>用户信息</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/vender/bootstrap.min.css">
  </head>
  <body>
    <div class="container col-sm-3">
      <div >
        <form action="/doUserUpdate" method="post">
          <div class="form-group">
            <label>用户名</label>
            <input type="text" class="form-control" value="<%=user.username%>" disabled>
          </div>
          <div class="form-group">
            <label>邮箱</label>
            <input type="email" class="form-control" name='email' value="<%=user.email%>">
          </div>
          <div class="form-group">
            <label>喜欢的颜色</label>
            <input type="text" class="form-control" name='color' value="<%=user.color%>">
          </div>
          <button type="submit" class="btn btn-default">修改信息</button>
        </form>
      </div>
      <p></p>
      <div >
        <form action="/doUserDelete" method="post">
          <button type="submit" class="btn btn-default">删除用户</button>
        </form>
      </div>
      <hr>
      <%= msg %>
    </div>
  </body>
</html>
